<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Users /</span> Data</h4>
    <div class="card">
      <h5 class="card-header">Table Users</h5>
      <div class="table-responsive text-nowrap">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>placeID</th>
              <th>event</th>
              <th>description</th>
              <th>dateStart</th>
              <th>dateEnd</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            <% travelEvents.forEach(travelEvent=> { %>
              <tr>
                <td><i class="fab fa-react fa-lg text-info me-3"></i> <strong>
                    <%= travelEvent.id %>
                  </strong></td>
                <td>
                  <%= travelEvent.placeID %>
                </td>
                <td>
                  <%= travelEvent.event %>
                </td>
                <td>
                  <%= travelEvent.description %>
                </td>
                <td>
                  <%= travelEvent.dateStart.getFullYear()+ '-' +
                    ('0'+(travelEvent.dateStart.getMonth()+1)).slice(-2)+'-'+('0' +
                    travelEvent.dateStart.getDate()).slice(-2) %>
                </td>
                <td>
                  <%= travelEvent.dateEnd.getFullYear()+ '-' +
                    ('0'+(travelEvent.dateEnd.getMonth()+1)).slice(-2)+'-'+('0' +
                    travelEvent.dateEnd.getDate()).slice(-2) %>
                </td>
                <td>
                  <div class="dropdown">
                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                      <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" onclick="clickCategories('<%= travelEvent.id %>',this)"
                        href="javascript:void(0);"><i class="bx bx-edit-alt me-2"></i>
                        Edit</a>
                      <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-2"></i>
                        Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
              <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="content-backdrop fade"></div>
</div>
<script>
  const clickCategories = (id, data) => {
    data.href = 'update/' + id;
  }
</script>