<%- include('../../inc/top.ejs') %>
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <!-- Menu -->
      <%- include('./menu.ejs') %>
      <!-- / Menu -->
        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->
          <%- include('../../inc/nav.ejs') %>
          <!-- / Navbar -->
          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->
            <%- include('./content.ejs') %>
            <!-- / Content -->
            <!-- Footer -->
            <%- include('../../inc/footer.ejs') %>
            <!-- / Footer -->
            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>
    </div>
<%- include('../../inc/bottom.ejs') %>